.underline {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: 5px;
    right: 0;
    background:#00b1a4;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

.underline:hover::after {
    width: 100%;
    left: 0;
    background: #00b1a4;
}