.slider-container {
    min-height: 100vh;
    text-align: center;
    padding: 2.3rem;
    /* background-color: #cdcdcd3f; */
    /* background-image:
            repeating-linear-gradient(to right, transparent 0 150px, #0001 150px 151px),
            repeating-linear-gradient(to bottom, transparent 0 150px, #0001 150px 151px),
            linear-gradient(to right, #CDCDCDcc, #CDCDCDcc),
            url(/bg.jpg); */
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgba(0, 0, 0, 0.104);
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom:1rem;
    /* box-shadow: 10px 10px 12px whitesmoke; */
}

.slider-item {
    background-color: #40936b;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* margin: 0 5px;
    gap: 8px; */
    cursor: pointer;
    transition: background-color 0.3s;
}


.item-category {
    color: white;
    font-size: 40px;
    transition: transform 0.3s ease;

}

.item-category:hover {
    transform: scale(1.2);

}  

.content1 {
    margin-top: 4rem;
}

.content-heading1 {
    font-size: 4vw;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    font-family: ro;

}




.food-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;

}



.content-para {
    font-size: 20px;
    letter-spacing: normal;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: ro;
}

 

#content img {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 30px;
    filter: drop-shadow(5px 5px 15px grey);
    border-radius: 50%;
    border: none;
    transition: transform 0.3s ease, filter 0.3s ease;
}

#content {
    text-align: center;
}

#content img:hover {
    transform: scale(1.2);
    text-align: center;

}